/* ====================== */
/*  Engebrechtre Fonts    */
/* ====================== */

@font-face {
  font-family: "Engebrechtre";
  src: url("./assets/fonts/engebrecht/Engebrechtre-Rg.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Engebrechtre";
  src: url("./assets/fonts/engebrecht/Engebrechtre-Rg-It.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Engebrechtre";
  src: url("./assets/fonts/engebrecht/Engebrechtre-Bd.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Engebrechtre";
  src: url("./assets/fonts/engebrecht/Engebrechtre-Bd-It.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Engebrechtre";
  src: url("./assets/fonts/engebrecht/Engebrechtre-Ex.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Engebrechtre";
  src: url("./assets/fonts/engebrecht/Engebrechtre-Ex-It.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Engebrechtre";
  src: url("./assets/fonts/engebrecht/Engebrechtre-Ex-Bd.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Engebrechtre";
  src: url("./assets/fonts/engebrecht/Engebrechtre-Ex-Bd-It.otf");
  font-weight: 800;
  font-style: italic;
}

/* Load Tailwind AFTER the fonts */
@import "tailwindcss";

body {
  font-family: "Engebrechtre", sans-serif;
}
