@import "tailwindcss";

body {
  font-family: "Rajdhani", sans-serif;
}

@keyframes metallicShine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.animate-metallic-text {
  animation: metallicShine 5s linear infinite;
}


@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
}
